@mixin demo($v) {
  font-size: $v;
}

@mixin font-face($name) {
    @font-face{
        font-family: $name;
        font-weight: normal;
        font-style: normal;

        // src: url("../font/#{$name}.eot");
        src: // url("../font/#{$name}.eot?##{$name}") format("embedded-opentype"),
            url("~/assets/font/#{$name}.woff") format("woff"),
            url("~/assets/font/#{$name}.ttf") format("truetype"),
            url("~/assets/font/#{$name}.svg") format("svg");
    }
}
