@font-face {
  font-family: "BrandonGrotesque-Regular";
  font-weight: normal;
  font-style: normal;

  src: url("../font/BrandonGrotesque-Regular.woff") format("woff"),
    url("../font/BrandonGrotesque-Regular.ttf") format("truetype"),
    url("../font/BrandonGrotesque-Regular.svg") format("svg");
}

:root {
  --skin-color: #45b29a;
  --banner-h1-font-size: 80px;
  --banner-h2-font-size: 25px;
  --banner-link-font-size: 25px;
  --banner-land-width: 800px;
}

@media (max-width: 500px) {
  :root {
    --banner-h1-font-size: 50px;
    --banner-h2-font-size: 20px;
    --banner-link-font-size: 20px;
    --banner-land-width: 600px;
  }
}

body {
  font-family: "BrandonGrotesque-Regular";
  color: var(--skin-color);
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #e0ebe8;
}

.land {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--banner-land-width);
  z-index: 2;
}

.cloud {
  position: absolute;
  z-index: 1;
}
.cloud.cloud1 {
  top: 50%;
  left: 10%;
  animation: cloud-animate 6s ease 0.1s infinite;
}

.cloud.cloud2 {
  top: 15%;
  right: 10%;
  animation: cloud-animate 8s ease 1s infinite;
}

.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translateY(-15%);
}

.content-container h1 {
  font-size: var(--banner-h1-font-size);
}
.content-container h2 {
  font-size: var(--banner-h2-font-size);
}

.link-container {
  position: absolute;
  top: 2.5%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.link-container li {
  margin: 0 4.4%;
}

.link-container li a {
  position: relative;
  font-size: var(--banner-link-font-size);
  color: var(--skin-color);
}
.link-container li a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #45b29a;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.link-container li a:hover:after {
  transform: scaleX(1);
}

@keyframes cloud-animate {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
